
@keyframes render {
  from {
    opacity: 0;
  }
  to{
  opacity: 1;
  }
}

.slider {
   overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $font-white;
  padding: 100px;
  min-height: 100vh;
  &__bubble {
    border-radius: 100%;
    position: absolute;
    background-color: antiquewhite;
    background: linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)),
    linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%),
    radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(10px);
    transition: all 2s linear;
    &_small {
      width: 222px;
      height: 222px;
      z-index: 6;
    }
    &_medium {
      width: 282px;
      height: 282px;
      z-index: 6;
    }
    &_big {
      width: 330px;
      height: 330px;
      z-index: 4;
    }
  }
  &__title {
    font-size: 64px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    z-index: 11;
  }
  &__btns-container {
    margin-bottom: 20px;
    display: flex;
  }
  &__btn {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: 1px solid #D9D9D9;
    margin-right: 15px;
    z-index: 20;
  }
  &__info {
    padding: 20px 60px 20px 20px;
    max-width: 668px;
    background: $blur;
    backdrop-filter: blur(15px);
    border: 0.5px solid #40595080;
    z-index: 10;
    animation: render 0.7s ease-in-out;
  }
  &__laptop {
    position: absolute;
    right: 80px;
    top: 137px;
    z-index: 5;
  }
  &__laptop-img {
    transform: rotate(0.6deg);
  }
  &__case-img {
    animation: render 0.7s ease-in-out;
    position: absolute;
    top: 14px;
    right: 140px;
  }
}

.info-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}

.info-p {
  max-width: 530px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

.bottom-container {
  display: flex;
  justify-content: center;
  width: 100%;
  &__block {
    flex: 1 1 33%;
    padding: 20px;
    border: 1px solid #E2E2E280;
    border-right: none;
    &:last-of-type {
      border-right: 1px solid #E2E2E280;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

  }
}