$main-blue: rgba(141, 189, 186, 1);
$main-purple: rgba(134, 117, 186, 1);
$font-white: #F5F5F5;
$blur: linear-gradient(0deg, rgba(0, 37, 23, 0.3), rgba(0, 37, 23, 0.3)),
linear-gradient(0deg, rgba(64, 89, 80, 0.5), rgba(64, 89, 80, 0.5));
